<ul class="nav nav-pills" bs-active-link>
    <li role="presentation"><a href="#/job">Index</a></li>
    <li ng-if="jobId" role="presentation" class="active"><a>Edit</a></li>
    <li ng-if="!jobId" role="presentation" class="active"><a>Create</a></li>
</ul>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Id</label>
        <div class="col-sm-10">
            <p id="updateId" class="form-control-static">{{job.id}}</p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="job.name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Created</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{job.createdDateUtc}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Updated</label>
        <div class="col-sm-10">
            <p class="form-control-static">{{job.updatedDateUtc}}</p>
        </div>
    </div>
    <button type="button" class="btn btn-default home">Back</button>
    <button ng-if="jobId" ng-click="update()" type="button" class="btn btn-primary update">Update</button>
    <button ng-if="!jobId" ng-click="create()" type="button" class="btn btn-primary update">Save</button>
</form>