#parse("./views/header.vm")
#set ($navPage = "home")
#parse("./views/navigation.vm")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>This is Crystalshard Ruby</h1>
            <p>This is the automation system of a developer. An elegant system, for a more civilized age.</p>
        </div>
    </div>
</div>
#parse("./views/footer.vm")